:root {
  --yl-28: #8F6900;
  --yl-44: #E0A500;
  --yl-60: #FFC933;
  --yl-76: #FFDF85;
  --yl-92: #FFF4D6;
  
  --bl-28: #363F59;
  --bl-44: #54638C;
  --bl-60: #808DB3;
  --bl-76: #B3BBD1;
  --bl-92: #E6E8F0;
  
  --gn-28: #425936;
  --gn-44: #688B55;
  --gn-60: #92B280;
  --gn-76: #BDD1B3;
  --gn-92: #E9F0E6;
}  
