:root {
  --yl-28: 143 105 0;
  --yl-44: 224 165 0;
  --yl-60: 255 223 133;
  --yl-76: 255 223 133;
  --yl-92: 255 244 214;
  
  --bl-28: ;
  --bl-44: ;
  --bl-60: ;
  --bl-76: ;
  --bl-92: ;

  --gn-28: ;
  --gn-44: ;
  --gn-60: ;
  --gn-76: ;
  --gn-92: ;

  --gn-28: ;
  --gn-44: ;
  --gn-60: ;
  --gn-76: ;
  --gn-92: ;
}  

