:root {
  --yl-3: 44 100% 28%;
  --yl-4: 44 100% 44%;
  --yl-6: 44 100% 60%;
  --yl-8: 44 100% 76%;
  --yl-9: 44 100% 92%;
  
  --rd-3: 8 70% 28%; 
  --rd-4: 8 70% 44%; 
  --rd-6: 8 70% 60%;
  --rd-8: 8 70% 76%;
  --rd-9: 8 70% 92%;
  
  --bl-3: 224 25% 28%;
  --bl-4: 224 25% 44%;
  --bl-6: 224 25% 60%;
  --bl-8: 224 25% 76%;
  --bl-9: 224 25% 92%;

  --gn-3: 99 24% 28%;
  --gn-4: 99 24% 44%;
  --gn-6: 99 24% 60%;
  --gn-8: 99 24% 76%;
  --gn-9: 99 24% 92%;

  --pr-3: 317 28% 28%;
  --pr-4: 317 28% 44%;
  --pr-6: 317 28% 60%;
  --pr-8: 317 28% 76%;
  --pr-9: 317 28% 92%;
  
  --or-3: 29 85% 28%;
  --or-4: 29 85% 44%;
  --or-6: 29 85% 60%;
  --or-8: 29 85% 76%;
  --or-9: 29 85% 92%;
  
  --gs-00: 0 0% 0%;
  --gs-0: 0 0% 08%;
  --gs-1: 0 0% 12%;
  --gs-2: 0 0% 16%;
  --gs-3: 0 0% 28%;
  --gs-4: 0 0% 44%;
  --gs-6: 0 0% 60%;
  --gs-8: 0 0% 76%;
  --gs-9: 0 0% 92%;
  --gs-10: 0 0% 96%;
  --gs-100: 0 0% 100%;
}  
